In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#Encode one categorical variables-Gender
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [6]:
#One hot encoding 'Geography'
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
## Save the encoders and scaler
with open('label_enocoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [12]:
##ANN Regression with Problem statement
import tensorflow as tf


from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [13]:
#Build our ANN model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ##Hidden layer connected with input layer
    Dense(32,activation='relu'),##HL 2
    Dense(1)##output lyer
])

#Compile thge model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [14]:
## Setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir='regressionlogs/fit/' +datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [15]:
## Set up early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [16]:
##Train the model
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,
                  callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 100371.4531 - mae: 100371.4531 - val_loss: 98488.8594 - val_mae: 98488.8594
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99519.7344 - mae: 99519.7344 - val_loss: 96766.9297 - val_mae: 96766.9297
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96539.2266 - mae: 96539.2266 - val_loss: 92392.7422 - val_mae: 92392.7422
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 90724.5234 - mae: 90724.5234 - val_loss: 85205.9453 - val_mae: 85205.9453
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 82399.5625 - mae: 82399.5625 - val_loss: 76120.9688 - val_mae: 76120.9688
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 72875.2344 - mae: 72875.2344 - val_loss: 66993.1953 - val_mae: 66993.1953
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 64083.2188 - mae: 64083.2188 - val_loss: 59567.9727 - val_mae: 59567.9727
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 57476.8633 - mae: 57476.8633 - val_loss: 54571.2891 - val_mae: 54571.2891
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 53494.5391 - mae: 53494.5391 - val_loss: 52051.2969 - val_mae: 52051.2969
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 51510.2227 - mae: 51510.2227 - val_loss: 51093.1445 - val_mae: 51093.1445
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50699.6211 - mae: 50699.6211 - val_loss: 50769.6211 - val_mae: 50769.6211
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50397.3203 - mae: 50397.3203 - val_loss: 50659.9844 - val_mae: 50659.9844
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50263.1289 - mae: 50263.1289 - val_loss: 50598.9258 - val_mae: 50598.9258
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50181.3789 - mae: 50181.3789 - val_loss: 50552.9766 - val_mae: 50552.9766
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50118.9883 - mae: 50118.9883 - val_loss: 50523.7383 - val_mae: 50523.7383
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50069.2617 - mae: 50069.2617 - val_loss: 50496.6562 - val_mae: 50496.6562
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 50023.8828 - mae: 50023.8828 - val_loss: 50460.3281 - val_mae: 50460.3281
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 49984.8438 - mae: 49984.8438 - val_loss: 50446.1797 - val_mae: 50446.1797
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 49949.2461 - mae: 49949.2461 - val_loss: 50430.4297 - val_mae: 50430.4297
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 49917.9297 - mae: 49917.9297 - val_loss: 50409.2734 - val_mae: 50409.2734
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49887.9883 - mae: 49887.9883 - val_loss: 50399.8672 - val_mae: 50399.8672
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49860.7266 - mae: 49860.7266 - val_loss: 50391.9844 - val_mae: 50391.9844
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49840.8047 - mae: 49840.8047 - val_loss: 50377.3359 - val_mae: 50377.3359
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 49816.6836 - mae: 49816.6836 - val_loss: 50365.3242 - val_mae: 50365.3242
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49799.7695 - mae: 49799.7695 - val_loss: 50354.1914 - val_mae: 50354.1914
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49780.4492 - mae: 49780.4492 - val_loss: 50346.4414 - val_mae: 50346.4414
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49759.5117 - mae: 49759.5117 - val_loss: 50345.3984 - val_mae: 50345.3984
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49745.2930 - mae: 49745.2930 - val_loss: 50337.4883 - val_mae: 50337.4883
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49726.7422 - mae: 49726.7422 - val_loss: 50334.1875 - val_mae: 50334.1875
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49710.4414 - mae: 49710.4414 - val_loss: 50332.0586 - val_mae: 50332.0586
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49694.5078 - mae: 49694.5078 - val_loss: 50329.4141 - val_mae: 50329.4141
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49681.1289 - mae: 49681.1289 - val_loss: 50321.0234 - val_mae: 50321.0234
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49667.8945 - mae: 49667.8945 - val_loss: 50325.9805 - val_mae: 50325.9805
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49655.1406 - mae: 49655.1406 - val_loss: 50321.6719 - val_mae: 50321.6719
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 49641.2656 - mae: 49641.2656 - val_loss: 50305.3086 - val_mae: 50305.3086
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49630.7188 - mae: 49630.7188 - val_loss: 50297.3320 - val_mae: 50297.3320
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 49616.8594 - mae: 49616.8594 - val_loss: 50294.2539 - val_mae: 50294.2539
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49608.0469 - mae: 49608.0469 - val_loss: 50291.7031 - val_mae: 50291.7031
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 49596.5898 - mae: 49596.5898 - val_loss: 50301.0742 - val_mae: 50301.0742
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 49583.7812 - mae: 49583.7812 - val_loss: 50267.3438 - val_mae: 50267.3438
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49578.6758 - mae: 49578.6758 - val_loss: 50265.5156 - val_mae: 50265.5156
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 49571.2695 - mae: 49571.2695 - val_loss: 50269.5039 - val_mae: 50269.5039
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49559.1016 - mae: 49559.1016 - val_loss: 50282.5898 - val_mae: 50282.5898
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 49551.2383 - mae: 49551.2383 - val_loss: 50269.0234 - val_mae: 50269.0234
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49545.1758 - mae: 49545.1758 - val_loss: 50278.3438 - val_mae: 50278.3438
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 49534.6836 - mae: 49534.6836 - val_loss: 50267.2656 - val_mae: 50267.2656
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49531.7891 - mae: 49531.7891 - val_loss: 50286.5352 - val_mae: 50286.5352
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 49521.5078 - mae: 49521.5078 - val_loss: 50289.1641 - val_mae: 50289.1641
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49517.3281 - mae: 49517.3281 - val_loss: 50282.0352 - val_mae: 50282.0352
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49508.8906 - mae: 49508.8906 - val_loss: 50277.0117 - val_mae: 50277.0117
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49501.5078 - mae: 49501.5078 - val_loss: 50281.3867 - val_mae: 50281.3867

In [17]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 3156), started 0:00:22 ago. (Use '!kill 3156' to kill it.)

In [22]:
##Evaluate the model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE:{test_mae}')

63/63 [==============================] - 0s 1ms/step - loss: 50265.5156 - mae: 50265.5156
Test MAE:50265.515625

In [23]:
model.save('regression_model.h5')